*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.cont{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 10px;
    margin: 0 auto;
}
.img{
    position: relative;
    left: 0px;
    height: 300px;
    width: 48px;
    box-shadow: 0 5 12px rgba(0,0,0,0.3);
    transition: .6s ease-in-out;
    overflow: hidden;
    flex: .15;
}
.img img{
    position: relative;
    height: 300px;
    object-fit: cover;
}
.img:hover{
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 10px;
}